@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");
.section03 .section03-left h1 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 700;
  margin-top: 100px;
}

.section03 .section03-left .content-p p {
  color: #7D7987;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Mulish', sans-serif;
  margin-top: 20px;
}

.section04 h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 36px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  color: #000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.navbarr {
  z-index: 5;
  width: 100%;
  padding: 25px 0;
}

.sticky {
  padding: 5px 0;
  background: #F9F9FB;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0px;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.menu-list li {
  font-size: 16px;
  font-weight: 500;
  margin-right: 35px;
}

.menu-list li a {
  color: #B8BECD;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.menu-list li a:hover {
  color: #202336;
}

#active {
  color: #202336;
}

.btn-nav {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #FB8F1D;
  background-color: #FB8F1D;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  margin-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5 ease;
  transition: all .5 ease;
}

.btn-nav:hover {
  background-color: transparent;
  color: #FB8F1D;
}

.icon-nav {
  cursor: pointer;
  display: none;
}

.cancel-btn {
  position: absolute;
  right: 30px;
  top: 20px;
}

.header {
  padding-top: 10px;
  background: url(../images/ppp.png) no-repeat;
  background-size: cover;
  background-position: bottom;
}

.header .top-left h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 50px;
}

.header .top-left h2 {
  font-size: 23px;
  font-weight: 600;
  margin-top: 20px;
}

.header .top-left .spa {
  position: absolute;
  width: 32px;
  margin-top: 5px;
}

.header .top-left .spa span {
  display: block;
  height: 2px;
  background-color: #000;
}

.header .top-right {
  position: relative;
}

.header .top-right img {
  max-width: 500px;
  position: absolute;
  right: 0;
}

.select {
  width: 230px;
  padding: 15px 25px;
  color: #4A4C53;
  background-color: #fff;
  border: 1px solid #4A4C53;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../images/Vector.png);
  background-position: right 25px top 50%;
  background-repeat: no-repeat;
  padding-right: 110px;
}

.select option {
  background: #fff;
  color: #4A4C53;
}

.select:focus,
.select:hover {
  outline: none;
  border: 1px solid #000;
}

.section02 {
  background: url(../images/sectionelement.png) no-repeat;
  margin-top: 150px;
  background-size: cover;
  background-position: top;
}

.section02 .section02-right {
  padding-left: 120px;
}

.section02 .section02-right h1 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  font-weight: 700;
  margin-top: 50px;
  display: inline-block;
}

.section02 .section02-right .content-p p {
  color: #7D7987;
  font-size: 17px;
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  margin-top: 20px;
}

.card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 150px;
}

.card-title h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 36px;
}

.card-title span {
  font-size: 15px;
  font-weight: 600;
  color: #FB8F1D;
}

.card-img1 {
  background: url(../images/cardImg1.png) no-repeat;
}

.card-img2 {
  background: url(../images/cardImg2.png) no-repeat;
}

.card-imgg3 {
  background: url(../images/cardImg3.png) no-repeat;
}

.card-img4 {
  background: url(../images/cardImg4.png) no-repeat;
}

.card {
  height: 400px;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin-top: 60px;
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-size: cover;
  background-position: center;
  -webkit-transition: all .8 ease;
  transition: all .8 ease;
}

.card .card-content {
  position: absolute;
  width: 120px;
  height: 60px;
  left: 0;
  bottom: -160px;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 0px 10px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .9 ease;
  transition: all .9 ease;
}

.card .card-content h1 {
  font-size: 17px;
  font-weight: 600;
  margin: 0px;
  margin-bottom: 3px;
}

.card .card-content span {
  font-size: 15px;
  font-weight: 500;
  color: #80918E;
}

.card:hover .card-content {
  bottom: 0;
}

.section03 {
  background: url(../images/sectionelement.png) no-repeat;
  margin-top: 150px;
  background-size: cover;
  background-position: top;
}

.section04 {
  margin-top: 150px;
}

.section04 h1 {
  margin-bottom: 60px;
}

.swiper-container {
  width: 300px;
  height: 400px;
  border-radius: 15px;
  /* margin-left: auto;
      margin-right: auto; */
}

.swiper-container01 {
  border-radius: 0;
  width: 100%;
  height: 400px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-slide01 img {
  margin-top: 20px;
}

.swiper-slide01 p {
  font-family: 'Mulish', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
}

.swiper-slide01 h2 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 40px;
}

.swiper-slide01 h3 {
  font-size: 18px;
  color: #000;
  opacity: 80%;
}

.swiper-slide-img01 {
  background: url(../images/imageswip1.png) no-repeat;
}

.swiper-slide-img02 {
  background: url(../images/imageswip2.png) no-repeat;
}

.swiper-slide-img03 {
  background: url(../images/imageswip3.png) no-repeat;
}

.swiper-slide02 {
  background-size: cover;
  background-position: top;
}

.next01 {
  position: absolute;
  width: 132px;
  height: 60px;
  bottom: 0;
  right: 0;
  z-index: 10;
  cursor: pointer;
  background-color: #fff;
  border-radius: 25px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orqa {
  position: absolute;
  z-index: 10;
  left: 20px;
}

.ol {
  position: absolute;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.oll {
  display: none;
}

.section05 .section05-card-img1 {
  background: url(../images/section0501.png) no-repeat;
}

.section05 .section05-card-img2 {
  background: url(../images/section0502.png) no-repeat;
}

.section05 .section05-card-img3 {
  background: url(../images/section0503.png) no-repeat;
}

.section05 .section05-card-img4 {
  background: url(../images/section0504.png) no-repeat;
}

.section05 .section05-card-img {
  width: 100%;
  height: 220px;
  border-radius: 15px 15px 0px 0px;
  background-size: cover;
  background-position: center;
}

.section05 h2 {
  font-size: 19px;
  font-weight: 600;
}

.section05 p {
  font-size: 15px;
  font-weight: 500;
  color: #7D7987;
}

.section05 span {
  font-size: 15px;
  font-weight: 600;
  color: #FB8F1D;
}

.footer {
  background-color: #F9F9FB;
}

.footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-content span {
  font-family: 'Mulish', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #848484;
}

.footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-right h1 {
  font-size: 17px;
  font-weight: 700;
  font-family: 'Mulish', sans-serif;
}

.footer .footer-right a span {
  font-family: 'Mulish', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #848484;
  padding-top: 5px;
}

.messenger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.messenger a {
  padding-left: 25px;
}

.messenger a i {
  color: #000;
  -webkit-transition: all .8 ease;
  transition: all .8 ease;
}

.messenger a i:hover {
  color: #555;
}

.messenger a:nth-child(1) {
  padding-left: 0;
}

@media (max-width: 1140px) {
  .select {
    width: 200px;
  }
}

@media (max-width: 868px) {
  .icon-nav {
    display: block;
  }
  .icon-nav.hide {
    display: none;
  }
  .menu-list {
    position: fixed;
    z-index: 6;
    top: 0;
    left: -100%;
    background: #F9F9FB;
    height: 120vh;
    width: 100%;
    display: block;
    padding: 40px 10px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu-list li {
    margin-top: 25px;
  }
  .menu-list .btn-nav {
    margin-top: 25px;
  }
  .active {
    left: 0%;
  }
  .select {
    width: 220px;
  }
  .dropdown-res {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section02 .section02-right {
    padding: 0 10px;
  }
}
/*# sourceMappingURL=style.css.map */